.customers {
    margin-top: 100px;
    background: #F28F441A;
    width: 110%;
}

.customers .videoPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videoPart .text {
    background: #F36544;
    color: #ffffff;
    width: 38%;
    min-height: 70vh;
    transform: translateX(-7px);
    position: relative;
    z-index: -1;
}

.videoPart .text::after {
    content: "";
    width: 100%;
    height: 450px;
    position: absolute;
    top: 400px;
    left: 0;
    background: #F36544;
}

.videoPart .text img {
    width: 200px;
    height: 150px;
    margin: 30px 5px;
}

.videoPart p {
    font-family: Lato;
    font-size: 38px;
    line-height: 45px;
    margin: 50px 70px;
    position: absolute;
    top: 50px;
}

.videoPart .video {
    margin: auto;
}

.video iframe {
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(44, 25, 11, 0.05);
    border-radius: 20px;
    width: 430px;
    height: 230px;
}

.customers .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 80px 0;
}

.slider .slides {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.slider .text {
    margin: 0 50px 0 0;
    width: 25%;
}

.slider .text p {
    color: #F28F44;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 60px;
    text-align: right;
}

.slider .glide__arrows {
    position: absolute;
    width: 180px;
    right: 0;
    bottom: 30px;
    transform: translateX(275%);
}

.slider .glide__arrow {
    cursor: pointer;
    background: #f5c8a5;
    padding: 10px 13px;
    border-radius: 50%;
    font-size: 20px;
    color: #F28F44;
}

.slider .cart {
    width: 600px;
    height: 250px;
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(44, 25, 11, 0.05);
    border-radius: 10px;
    padding: 40px;
    margin: 0 100px;
}

.cart .cart-header {
    display: flex;
    align-items: center;
}

.cart-header img {
    width: 20%;
}

.cart-header div {
    margin: 20px;
}

.cart-header p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 20px;
    color: #F28F44;
}

.cart-header span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 10px;
    color: rgba(31, 8, 3, 0.2);
}

.cart .cart-footer {
    margin: 20px 0;
}

.cart-footer p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: rgba(31, 8, 3, 0.4);
}

@media only screen and (max-width: 1200px) {
    .customers {
        margin-top: 100px;
        background: #F28F441A;
        width: 110%;
    }

    .customers .videoPart {
        display: flex;
        flex-direction: column;
    }

    .videoPart .text {
        width: 95%;
        min-height: 70vh;
        transform: translateX(0);
    }

    .videoPart .text::after {
        display: none;
    }

    .videoPart .text img {
        margin: 55px;
    }

    .videoPart p {
        font-size: 42px;
        top: 100px;
    }

    .videoPart .video {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
        width: 100%;
    }

    .video iframe {
        width: 50%;
    }

    .customers .slider {
        flex-direction: column;
    }

    .slider .slides {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .slider .text {
        margin: 0 50px 0 0;
        width: 25%;
    }

    .slider .text p {
        text-align: center;
    }

    .slider .glide {
        width: 90%;
    }

    .slider .glide__slide {
        margin: 0 180px;
    }


    .slider .glide__arrows {
        position: relative;
        transform: translate(550px, 100px);
    }

    .slider .cart {
        width: 500px;
        height: 250px;
        background: #ffffff;
        box-shadow: 0px 10px 40px rgba(44, 25, 11, 0.05);
        border-radius: 10px;
        padding: 0px;
        margin: 0px;
    }

    .cart .cart-header {
        display: flex;
        align-items: center;
    }

    .cart-header img {
        width: 20%;
    }

    .cart-header div {
        margin: 20px;
    }

    .cart-header p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 20px;
        color: #F28F44;
    }

    .cart-header span {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 10px;
        color: rgba(31, 8, 3, 0.2);
    }

    .cart .cart-footer {
        margin: 20px 0;
    }

    .cart-footer p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: rgba(31, 8, 3, 0.4);
    }
}

@media only screen and (max-width: 800px) {
    .slider .glide__arrows {
        position: relative;
        transform: translate(370px, 80px);
    }

    .slider .glide__slide {
        margin: 0 80px;
    }
}

@media only screen and (max-width: 600px) {
    .slider .text {
        margin: 0 50px 0 0;
        width: 25%;
    }

    .slider .text p {
        font-size: 38px;
        line-height: 30px;
    }

    .slider .glide__slide {
        width: 200px;
        margin: 0;
    }

    .slider .cart {
        width: 80%;
        height: 250px;
        padding: 10px;
        margin: 0;
    }

    .slider .glide__arrows {
        display: none;
    }

    .cart-header img {
        width: 30%;
    }

    .cart-header div {
        margin: 5px;
    }

    .cart-header p {
        font-size: 28px;
        line-height: 10px;
    }

    .cart-header span {
        font-size: 18px;
        line-height: 8px;
    }

    .cart .cart-footer {
        margin: 15px 0;
    }

    .cart-footer p {
        font-size: 17px;
        line-height: 20px;
    }
}